@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*{
    font-family: "Inter", sans-serif;
}

.head{
   
    background-color: black;
    color: #fefefe;
    text-align: center;
    border-radius: 25px;
    height: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 25%;
    top: 10%;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
}
.middle{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.submit{
    position: relative;
    padding-left: 20px;
    
}
.table-div{
    position: relative;
    padding-right: 20px;
    
    
}
.submit-child{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-top: 125px;


}
.table-div-child{
    margin-top: 205px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 20px;
}

    
.hrizontal{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.form-action-buttons{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    justify-content: center;

}


.b{
    background-color:black;
    color: #fefefe;
    padding: 7px;
    border-radius: 25px;
}    .b:hover{
        background-color: #fefefe;
        color: black;
    }

.ud{
    background-color: black;
    color: #fefefe;
    border-radius: 25px;
    font-size: small;
    padding: 2px 5px 2px 5px;
    
}
.ud:hover{
    background-color: #fefefe;
    color: black;
}
.footer{
    text-align: center;
    position: relative;
    padding-top: 20%;
    
}
.thead{
    padding-left: 15px;
    padding-right: 15px;
}
.tbody{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.trn{
    padding-left: 15px;
    padding-right: 15px;
}